@import url('reset.css');
@import url('font.css');

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #C4C8CB;
}

.layout
{
    width: 1512px;
    margin: 0 auto;
    transform-origin: top center;
    overflow: hidden;
}

nav
{
    background-image: url("../assets/images/grid.png");
    width: 1512px;
    height: 990px;
    display: flex;
    flex-direction: column;
    gap: 121px;
}

main
{
    width: 1512px;
    height: 982px;
    background-color: #EF4139;
}

h1
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 137px;
    color: #EF4139;
    animation: logoAnim 2s infinite ease-out;
}

@keyframes logoAnim {
    0% {font-weight: 1000;}
    16% {font-weight: 800;}
    32% {font-weight: 400;}
    48% {font-weight: 300;}
    64% {font-weight: 200;}
    80% {font-weight: 100;}
    100% {font-weight: 1000%;}
}

.logo
{
    margin-top: 24px;
    margin-left: 24px;
    z-index: 3;
}

#number-2
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #767676;
    position: absolute;
    top: 144px;
    left: 242px;
}

#number-1
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #767676;
    position: absolute;
    top: 350px;
    left: 122px;
}
#number-3
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #767676;
    position: absolute;
    top: 287px;
    left: 316px;
}
#info
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 12px;
    width: 268px;
    height: 64px;
    color: #767676;
    position: absolute;
    top: 299px;
    left: 468px;
}



#creator
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #767676;
    position: absolute;
    top: 144px;
    left: 735px;
}

#info-fac
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #767676;
    position: absolute;
    top: 37px;
    left: 1288px;
}

.circle
{
    background-image: url(../assets/images/circle.png);
    width: 560px;
    height: 585px;
    z-index: 1;
}

.black-animation
{
    display: flex;
    flex-direction: column;
    width: 1512px;
    height: 363px;
    gap: 10px;
    background-color: #1F1F1F;
    z-index: 2;
}

.up-black-animation
{
    display: flex;
    flex-direction: row;
    width: 1512px;
    height: 171px;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
    overflow: hidden;
}

.circle-black-animation
{
    width: 342px;
    height: 342px;
    border-radius: 342px;
    border: 1px solid #FFFFFF;
    
}


.dashed-hr
{
    width: 1512px;
    border: 1px dashed #FFFFFF;
}

.down-black-animation
{
    display: flex;
    flex-direction: row;
    width: 1512px;
    height: 171px;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    overflow: hidden;
}

#cell
{
    background-image: url(../assets/images/cell.png);
    width: 395px;
    height: 363px;
    position: absolute;
    top: 420px;
    left: 559px;
}

#arrow
{
    background-image: url(../assets/images/arrow.png);
    width: 353px;
    height: 318px;
    position: absolute;
    top: 435px;
    left: -353px;
    animation: arrowRun 2s ease-in infinite;
}

@keyframes arrowRun {
    0% {transform: translateX(-353px);}
    100% {transform: translateX(1865px);}
    
}


#circle-down
{
    background-image: url(../assets/images/circle2.png);
    width: 490px;
    height: 483px;
    position: absolute;
    top: 510px;
    left: -180px;
}

.meldeleev 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1512px;
    height: 396px;
}

.element
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 168px;
    height: 198px;
    padding: 10px 10px;
    gap: 10px;
    p {
        font-family: "Unbounded", sans-serif;
        font-weight: 100;
        font-size: 23px;
        color: black;
    }
    h3 {
        font-family: "Unbounded", sans-serif;
        font-weight: 200;
        font-size: 95px;
        color: black;
    }

}


.element:hover {
    transform: scale(1.1);
    z-index: 2;
    p {
        font-size: 28px;
    }
    h3 {
        font-size: 110px;
    }
}

#white
{
    background-color: #C4C8CB;
}

#red
{
    background-color: #EF4139;
}

.main-down {
    background-image: url(../assets/images/lines.png);
    width: 1512px;
    height: 586px;
    
}


.circle-main {
    width: 326px;
    height: 326px;
    border: 41px solid #c4c8c8;
    border-radius: 326px;
    animation: circleAnim 3s linear infinite;
}

@keyframes circleAnim {
    0% { transform: translateY(); }
    40% { transform: translateY(55%); }
    80% { transform: translateY(-30%); }
    100% { transform: translateY(0); }
}

.arrow-main-left
{
    background-image: url(../assets/images/arrow-main.png);
    width: 498px;
    height: 497px;
    animation: arrowAnim 2s linear infinite;
}

@keyframes arrowAnim {
    0% {transform: scale(1)}
    50% {transform: scale(0.5)}
    100% {transform: scale(1)}
    
}

.arrow-main-right
{
    background-image: url(../assets/images/arrow-main.png);
    width: 498px;
    height: 497px;
    animation: arrowAnimRight 2s linear infinite;
}

@keyframes arrowAnimRight {
    0% {transform: scaleX(-1) scale(1)}
    50% {transform: scaleX(-1) scale(0.5)}
    100% {transform: scaleX(-1) scale(1)}
}

#main-number1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 1490px;
    left: 129px;
}

#main-number2 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 1570px;
    left: 544px;
}

#main-number3 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 1455px;
    left: 823px;
}

#main-number4 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 1700px;
    left: 1424px;
}

#main-text {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 1840px;
    left: 110px;
}

.metallur-page {
    background-image: url(../assets/images/cell-black.png);
    width: 1524px;
    height: 982px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 127px;
    overflow: hidden;
}

.circle-metallurg
{
    width: 692px;
    height: 692px;
    border: 2px solid #FFFFFF;
    border-radius: 692px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-metallurg {
    width: 11px;
    height: 11px;
    background-color: #D9D9D9;
    border-radius: 11px;
}

#metallurg-line-circle1 {
    position: absolute;
    width: 343px;
    height: 1px;
    background-color: #FFFFFF;
    left: 710px;
    top: 2463px;

    transform-origin: left center;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }    
}


#metallurg-line-circle2 {
    position: absolute;
    width: 343px;
    height: 1px;
    background-color: #FFFFFF;
    left: -110px;
    top: 2463px;

    transform-origin: left center;
    animation: spin 6s linear infinite;
}

#metallurg-line-circle3 {
    position: absolute;
    width: 343px;
    height: 1px;
    background-color: #FFFFFF;
    left: 1185px;
    top: 2463px;

    transform-origin: right center;
    animation: spin 5s linear infinite;
}

#metallurg-dashed-line {
    position: absolute;
    width: 1512px;
    border: 1px dashed #FFFFFF;
    top: 2463px;
}

#metallurg-up-line {
    position: absolute;
    width: 1512px;
    height: 1px;
    background-color: #FFFFFF;
    top: 2264px;
}

#metallurg-down-line {
    position: absolute;
    width: 1512px;
    height: 1px;
    background-color: #FFFFFF;
    top: 2655px;
}

h2
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 517px;
    color: #1F1F1F;
    font-feature-settings: 'liga' off, 'clig' off;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    letter-spacing: -16px;
}

.metallurg-text
{
    position: absolute;
    top: 2200px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.metallurg-track {
    display: inline-flex;
    white-space: nowrap;
    animation: metallurgAnim 20s linear infinite;
}


@keyframes metallurgAnim {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}

.last-page {
    width: 1512px;
    height: 879px;
    background-color: #EF4139;
    background-image: url(../assets/images/last-lines\(2\).png);
}

#circle-last-page-1 {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
    border-radius: 150px;
    background-color: #C4C8CB;
}

#circle-last-page-2 {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 2px solid #000000;
    border-radius: 300px;
}

#circle-last-page-3 {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border: 2px solid #000000;
    border-radius: 450px;
}

#circle-last-page-4 {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border: 2px solid #000000;
    border-radius: 600px;
}

#circle-last-page-5 {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 750px;
    border: 2px solid #000000;
    border-radius: 750px;
}

.dot-center {
    position: absolute;
    top: 3395px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot-orbit {
    position: relative;
    width: 0;
    height: 0;
    animation: dotOrbit 6s linear infinite;
    transform-origin: center center;
}

.dot-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
}

.dot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #C4C8CB;
    border: 1px solid #000000;
    border-radius: 30px;

    left: 360px;
    top: -15px;
}

.dot2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #C4C8CB;
    border: 1px solid #000000;
    border-radius: 30px;

    left: 285px;
    top: -15px;
}

.dot3 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #C4C8CB;
    border: 1px solid #000000;
    border-radius: 30px;

    left: 210px;
    top: -15px;
}

.dot4 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #C4C8CB;
    border: 1px solid #000000;
    border-radius: 30px;

    left: 135px;
    top: -15px;
}

.point1 {
    transform: rotate(0deg);
}

.point2 {
    transform: rotate(40deg);
}

.point3 {
    transform: rotate(80deg);
}

.point4 {
    transform: rotate(120deg);
}

.point5 {
    transform: rotate(160deg);
}

.point6 {
    transform: rotate(200deg);
}

.point7 {
    transform: rotate(240deg);
}

.point8 {
    transform: rotate(280deg);
}

.point9 {
    transform: rotate(320deg);
}

.point10 {
    transform: rotate(51deg);
}

.point11 {
    transform: rotate(102deg);
}
.point12 {
    transform: rotate(153deg);
}
.point13 {
    transform: rotate(204deg);
}
.point14 {
    transform: rotate(255deg);
}
.point15 {
    transform: rotate(306deg);
}
.point16 {
    transform: rotate(357deg);
}

.point17 {
    transform: rotate(0deg);
}
.point18 {
    transform: rotate(90deg);
}

.point19 {
    transform: rotate(180deg);
}
.point20 {
    transform: rotate(270deg);
}

.point21 {
    transform: rotate(0deg);
}
.point22 {
    transform: rotate(72deg);
}
.point23 {
    transform: rotate(144deg);
}
.point24 {
    transform: rotate(216deg);
}
.point25 {
    transform: rotate(288deg);
}


@keyframes dotOrbit {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#last-creator
{
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 3000px;
    left: 60px;
}

#last-number1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 3350px;
    left: 648px;
}

#last-number2 {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 14px;
    color: #000000;
    position: absolute;
    top: 3300px;
    left: 1150px;
}

#last-text {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    font-size: 8px;
    color: #000000;
    position: absolute;
    top: 3650px;
    left: 1226px;
    width: 215px;
    height: 32px;
}

#last-atom {
    font-family: "Unbounded", sans-serif;
    font-weight: 1000;
    color: #000000;
    position: absolute;
    top: 3000px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    span {
        font-size: 228px;
        line-height: 89%;
    }
}

footer
{
    background-color: #c4c8c8;
    width: 1512px;
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    p {
        font-family: "Unbounded", sans-serif;
        font-weight: 800;
        font-size: 32px;
        color: black;
    };
}

@media (min-width: 1920px) {
    .layout {
        transform: scale(calc(1920 / 1512));
    }
    
}

@media (max-width: 768px) {
    .layout {
        transform: scale(calc(768 / 1512));
    }
}

@media (max-width: 440px) {
    .layout {
        transform: scale(calc(440 / 1512));
    }
}